<html>
   
     <head>
          <title>Angular JS Controller</title>
          <script src = "angular.js"></script>
     </head>
   
     <body ng-app="ngApp">
          <div ng-controller="mainController">

               <ul>
                    <li ng-repeat="x in names">
                         {{ x.Name + ', ' + x.Country }}
                    </li>
               </ul>
          </div>
          <script>
          var app = angular.module('ngApp', []);

          // app.controller("mainController", function($scope,$http){ // Method One
          app.controller ('mainController',['$scope','$http', // Method Two
   
               function customersController($scope,$http) {
                    $http.get("Customers_JSON.php").success(function(response) {
                         $scope.names = response;
                    });
               }

          ]); // ./Method Two
          // }); // ./Method One
      </script>
      
   </body>
</html>